<rewrite>
  <rules>
    <rule name="API" stopProcessing="true">
      <match url="api/(.*)$" ignoreCase="true" />
      <action type="None" />
    </rule>
    <rule name="MainRule" stopProcessing="true">
      <match url=".*" />
      <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        <add input="{REQUEST_URI}" matchType="Pattern" pattern="signalr/(.*)" negate="true" />
      </conditions>
      <action type="Rewrite" url="/basico/" />
    </rule>
  </rules>
</rewrite>
