
<div>


    <input type="button" value="Notificar" ng-click="notif()" />
    <input type="button" value="Notificar Somee" ng-click="notif_out()" />
    <input type="button" value="Create Zip" ng-click="zipfy()" />

    <input type="button" value="chat" ng-click="ctrlr.chat()" />

    <br /><br /><br />
    <div>Bustes</div>
     
    

</div>











<!--<div>
    Name: <input type="text" ng-model="ChatUserame" /><br />
    Message: <input type="text" ng-model="ChatMessage" /><br />
    <input type="button" value="Send" ng-click="ChatNewMessage()" />
</div>
<div>
    <ul>

        <li ng-repeat="chat in ChatMessages | repeat_reverse track by $index">
            <span ng-bind="chat"></span>
        </li>
    </ul>
</div>-->
<!-- ng-hide="!ChatHub" track by $index
<label></label><br />
<label></label><br /><br />-->
<!--<input type="button" value="Followzup: Manda mensagem para o celular" ng-click="triggerFolowzup(false)" />-->
<!--<input type="button" value="Followzup: Simula celular mandando mensagem" ng-click="triggerFolowzup(true)" /> -->
<!--
<input type="button" value="Simulando Post (Javascript)" ng-click="triggerFolowzupPHP()" />
<input type="button" value="Simulando Get (Javascript)" ng-click="triggerFolowzupPHP(true)" />
<input type="button" value="Decrypt" ng-click="decrypt()" />-->
<!--<input type="button" value="{{pegaounao ? 'Nao' : ''}} Pega Data" ng-click="PegaData()" />
<p ng-if="pegaounao">Foi para o SQL: {{dataSQL}}</p>
<p ng-if="pegaounao">Voltou do SQL: {{dataNETCrua}}</p>

<p ng-if="pegaounao">Ini: {{iniVigencia}}</p>
<p ng-if="pegaounao">Fim: {{fimVigencia}}</p>

<p ng-if="pegaounao">Ini: {{iniVigencia | amDateFormat : "DD/MM/YYYY HH:mm"}}</p>
<p ng-if="pegaounao">Fim: {{fimVigencia | amDateFormat : "DD/MM/YYYY HH:mm"}}</p>-->


<!--

     <div>{{decriptado}}</div>

     <div ng-if="dt || json">
         <br /><hr />
         <label>{{dt}}</label><br />
         <label>Dest: {{send}}</label><br />
         <label>Out: {{sendConfig}}</label><br />
         <label>In: {{resposta}}</label><br />
         <br />
         <br />
         <label>{{json}}</label>

     </div>

     <div ng-if="send && !dt">
         <br /><hr />
         <label>{{send}}</label><br />
         <label>resposta: {{resposta}}</label><br />
     </div>-->



<!--<script type="text/javascript">
    (function(){
       var foxscript = document.createElement('script');
           foxscript.src = '//js.foxpush.com/marcelowhala.js?v='+Math.random();
           foxscript.type = 'text/javascript';
           foxscript.async = 'true';
       var fox_s = document.getElementsByTagName('script')[0];
       fox_s.parentNode.insertBefore(foxscript, fox_s);})();
</script>-->
